// Code formatting.

.td-content {
	// Highlighted code.
    .highlight {
        @extend .card;
	
        margin: 2rem 0;
        padding: 0;
        max-width: 80%;
	    
        pre {
            margin: 0;
            padding: 1rem;
        }
    }
}

// Basic Bootstrap table

.table {
    width: 100%;
    margin-bottom: $spacer;
    color: $table-color;
    background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  
    th,
    td {
      padding: $table-cell-padding;
      vertical-align: top;
      border: $table-border-width solid $table-border-color;
    }
  }