// Code formatting.

.td-content {
	// Highlighted code.
    .highlight {
        @extend .card;
	
        margin: 2rem 0;
        padding: 0;
        max-width: 80%;
	    
        pre {
            margin: 0;
            padding: 1rem;
        }
    }
}

.label{
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 3px;
}

.label-important{
    background-color: #b94a48;
}

.label-info {
    background-color: #3a87ad;
}

.label-warning {
    background-color: #f89406;
}