{{ define "main"}}
    <main id="main">
      <div>
       <h1 id="title">My Layout</h1>
       {{ $repositories := slice "storm" "storm-frontend" "storm-webdav" }}
       {{ $urlPre := "https://api.github.com" }}
       
       <button class="btn btn-dark pull-right" data-toggle="collapse" data-target=".collapse" style="margin-bottom: 10px;">Show older releases</button>

       <table class="table table-light table-striped table-bordered">
        <thead class="thead-dark">
          <th>Component</th>
          <th>Version</th>
        </thead>
        <tbody>
        {{ range $component := $repositories }}
          {{ $releases := getJSON $urlPre "/repos/italiangrid/" $component "/releases" }}
          <tr>
            <td>{{ $component }}</td>
            <td>
              <ul class="list-unstyled" style="margin: 0 0;">
              {{ range $index, $release := $releases }}
                {{ if eq $index 0 }}
                  <li><a href="{{ $release.html_url }}">{{ $release.tag_name }}</a></li>
                {{ else }}
                <li class="collapse"><a href="{{ $release.html_url }}">{{ $release.tag_name }}</a></li>
                {{ end }}
              {{ end }}
              </ul>
            </td>
          </tr>
        {{ end }}
        </tbody>
      </table>
      </div>
    </main>
{{ end }}