+++
title = "StoRM"
linkTitle = "StoRM"

+++

<style>
	.col-lg-4 {
    	flex-grow: 0;
    	flex-shrink: 0;
    	flex-basis: 50%;
    	max-width: 50%;
	}
</style>


{{< blocks/cover title="StoRM (STOrage Resource Manager)" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/italiangrid/storm">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">StoRM (STOrage Resource Manager) is a light, scalable, flexible, high-performance, file system independent, storage manager service (SRM) for generic disk based storage system, compliant with the standard SRM interface version 2.2.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section height="min" color="300" >}} 

{{% blocks/feature icon="false" title="Implements the SRM specification" %}}

StoRM is adopted in the context of WLCG computational Grid framework. 
It provides data management capabilities in a Grid environment to share, 
access and transfer data among heterogeneous and geographically distributed data centers. 
StoRM implements the Storage Resource Manager (SRM) 
[specification](https://sdm.lbl.gov/srm-wg/doc/SRM.v2.2.html#_Toc241633041).

{{% /blocks/feature %}}

{{% blocks/feature icon="false" title="Built for cluster filesystems" %}}

StoRM works on any POSIX filesystems, but was built to bring in the Grid the advantages of high 
performance storage systems based on cluster file system (such as GPFS from IBM or Lustre from Sun 
Microsystems), supporting direct access (native POSIX I/O call) to shared files and directories, 
as well as other standard Grid access protocols.

{{% /blocks/feature %}}

{{< /blocks/section >}}